[probe]
pin:                       ^sht:gpio22
x_offset:                  0
y_offset:                  0
z_offset:                  5
speed:                     8
lift_speed:                60
samples:                   1
samples_result:            median
#samples_discard_first:     1
sample_retract_dist:       2
samples_tolerance:         0.01
samples_tolerance_retries: 3
