######################################################### \
#### User MCU and TMCs wiring definition file ###########  + --> Everything MCU related :)
######################################################### /

# This file is yours: keep in mind that it will not be erased when updating
# the config using moonraker and it will be kept as you've set it.

# Put here all your wiring definitions, your MCU serial port, CANbus UUID, etc...
# It should be populated automatically with some default wiring templates during
# the first time install of the config if you choose to do so when asked by the
# script. If it's not the case, you will need to manually define all your
# [board_pins] section. You can use the pinout documentation here: ./docs/pinout.md

# ------------------------------------------------------------------------------------------


#-------------------------#
#   TMCs DRIVERS          #
#-------------------------#

# ---------------------------------------------------------------------- AXIS DRIVERS ----> optional, but only one line per axis need to be selected
### 1. X Drivers -------------------------------------------------------------------------
# [include config/hardware/axis/X/TMC/TMC2209.cfg]
# [include config/hardware/axis/X/TMC/TMC2209_V0specific.cfg] # Should only be used for early LDO V0 kits to mitigate the known VFAs issue
# [include config/hardware/axis/X/TMC/TMC2240.cfg]
# [include config/hardware/axis/X/TMC/TMC5160.cfg]
### 2. Y Drivers -------------------------------------------------------------------------
# [include config/hardware/axis/Y/TMC/TMC2209.cfg]
# [include config/hardware/axis/Y/TMC/TMC2209_V0specific.cfg] # Should only be used for early LDO V0 kits to mitigate the known VFAs issue
# [include config/hardware/axis/Y/TMC/TMC2240.cfg]
# [include config/hardware/axis/Y/TMC/TMC5160.cfg]
### 3. Z Drivers -------------------------------------------------------------------------
# [include config/hardware/axis/Z/TMC/TMC2209_1-Motor.cfg]
# [include config/hardware/axis/Z/TMC/TMC2209_3-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC2209_4-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC2240_1-Motor.cfg]
# [include config/hardware/axis/Z/TMC/TMC2240_3-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC2240_4-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC5160_1-Motor.cfg]
# [include config/hardware/axis/Z/TMC/TMC5160_3-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC5160_4-Motors.cfg]
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------- EXTRUDER DRIVER ----> optional, but only one line need to be selected
### --------------------------------------------------------------------------------------
# [include config/hardware/extruder/TMC/TMC2209.cfg]
# [include config/hardware/extruder/TMC/TMC2240.cfg]
# ----------------------------------------------------------------------------------------

#------------------------------------------#
#### CUSTOM TEMPLATE MCU definition ########
#------------------------------------------#

# This template file is a pre-filled file with Klippain pins alias conventions
# that can be used if your MCU board is not yet officially supported. Just fill
# in your MCU pins and you will be good to go :)

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/change-me-to-the-correct-mcu-path
# canbus_uuid: change-me-to-the-correct-canbus-id
##--------------------------------------------------------------------

[board_pins custom_mcu]
mcu: mcu
aliases:
    X_STEP=   , X_DIR=   , X_ENABLE=   , X_TMCUART=   ,
    Y_STEP=   , Y_DIR=   , Y_ENABLE=   , Y_TMCUART=   ,

    Z_STEP=   , Z_DIR=   , Z_ENABLE=   , Z_TMCUART=   ,
    Z1_STEP=  , Z1_DIR=  , Z1_ENABLE=  , Z1_TMCUART=  ,
    Z2_STEP=  , Z2_DIR=  , Z2_ENABLE=  , Z2_TMCUART=  ,
    Z3_STEP=  , Z3_DIR=  , Z3_ENABLE=  , Z3_TMCUART=  ,

    E_STEP=   , E_DIR=   , E_ENABLE=   , E_TMCUART=   ,

    # DRIVER_SPI_MOSI= , # Used in case of SPI drivers such as TMC2240 or TMC5160
    # DRIVER_SPI_MISO= , # Used in case of SPI drivers such as TMC2240 or TMC5160
    # DRIVER_SPI_SCK=  , # Used in case of SPI drivers such as TMC2240 or TMC5160

    X_STOP= , Y_STOP= , Z_STOP= ,
    PROBE_INPUT=  ,
    RUNOUT_SENSOR= ,

    E_HEATER=   , E_TEMPERATURE=   ,
    BED_HEATER= , BED_TEMPERATURE= ,

    PART_FAN=      , E_FAN= ,
    PART_FAN_TACHO , E_FAN_TACHO ,

    CONTROLLER_FAN=        ,
    EXHAUST_FAN=           ,
    FILTER_FAN=            ,
    HOST_CONTROLLER_FAN=   ,

    CHAMBER_TEMPERATURE= ,
    ELECTRICAL_CABINET_TEMPERATURE= ,

    LIGHT_OUTPUT=    ,
    LIGHT_NEOPIXEL=  ,
    STATUS_NEOPIXEL= ,

    SERVO_PIN= ,

