[include mainsail.cfg]

[exclude_object]

[include CONFIG/printer.cfg]
#[include CONFIG/board_pins_SKR_E3_V2.cfg]
#[include CONFIG/settings.cfg]

#[include CONFIG/variables.cfg]

###########################
### Hardware COMPONENTS ###
###########################
[include CONFIG/Hardware/KlipperExpander.cfg]
[include CONFIG/Hardware/Ressonance.cfg]
#[include CONFIG/Hardware/adxl.cfg]
[include CONFIG/Hardware/Extruder.cfg]
[include CONFIG/Hardware/Fans.cfg]
[include CONFIG/Hardware/Heated_Bed.cfg]
[include CONFIG/Hardware/Lights.cfg]
[include CONFIG/Hardware/Probe.cfg]
#[include CONFIG/Hardware/status_leds.cfg]
[include CONFIG/Hardware/Temperature_Sensors.cfg]
[include CONFIG/Hardware/XY.cfg]
[include CONFIG/Hardware/Z.cfg]
#[include CONFIG/Hardware/tones.cfg]
[include CONFIG/Hardware/Display.cfg]
#[include CONFIG/Hardware/FilamentSensor.cfg]

#####################
### MACROS FOLDER ###
#####################
[include CONFIG/Macros/Homing/*.cfg]
[include CONFIG/Macros/Printing/*.cfg]
[include CONFIG/Macros/Probing/*.cfg]
[include CONFIG/Macros/Helpers/*.cfg]
#[include CONFIG/Macros/calibration/*.cfg]
[include CONFIG/Macros/Miscs/*.cfg]
#[include CONFIG/Macros/monitoring/*.cfg]
[include shell_command.cfg]
