[include mainsail.cfg]

[exclude_object]

#[include mainsail.cfg]
[include config/printer.cfg]
#[include config/board_pins_SKR_E3_V2.cfg]
#[include config/settings.cfg]

#[include config/variables.cfg]

###########################
### HARDWARE COMPONENTS ###
###########################
[include config/hardware/adxl.cfg]
[include config/hardware/extruder.cfg]
[include config/hardware/fans.cfg]
#[include config/hardware/heated_bed.cfg]
[include config/hardware/lights.cfg]
[include config/hardware/probe.cfg]
#[include config/hardware/status_leds.cfg]
#[include config/hardware/temperature_sensors.cfg]
[include config/hardware/XY.cfg]
[include config/hardware/Z.cfg]
#[include config/hardware/tones.cfg]
[include config/hardware/display.cfg]
[include config/hardware/temperature_sensors.cfg]

#####################
### MACROS FOLDER ###
#####################
[include macros/ldomacros.cfg]
[include macros/homing/*.cfg]
[include macros/printing/*.cfg]
[include macros/probing/*.cfg]
[include macros/helpers/*.cfg]
#[include macros/calibration/*.cfg]
[include macros/miscs/*.cfg]
#[include macros/monitoring/*.cfg]
[include shell_command.cfg]
