[mcu CB1]
serial: /tmp/klipper_host_mcu

[pause_resume]
[display_status]
[exclude_object]
[respond]

[force_move]
enable_force_move:True

[gcode_arcs]
resolution: 0.1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_1A0020000D50415833323520-if00
restart_method: command

[mcu sht]
canbus_uuid: aa3ded4d67bd

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 10000
max_z_velocity: 24
max_z_accel: 100
square_corner_velocity: 6.0

[heater_bed]
heater_pin: PD8
sensor_pin: PC4
sensor_type: ATC Semitec 104GT-2
control: watermark
min_temp: -10
max_temp: 110
max_power: 1.0

#####################################################################
# Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

## To be used with BED_SCREWS_ADJUST
[bed_screws]
screw1: 60,5
screw1_name: front screw
screw2: 5,115
screw2_name: back left
screw3: 115,115
screw3_name: back right