
[led_effect bed_temperature]
leds:
    neopixel:bed_light
autostart:                          true
frame_rate:                         24
heater: heater_bed 
layers:
    temperature  25 55 add (0.00, 0.00, 0.10 , 0.00), (0.25, 0.00, 0.00 , 0.00)

#[led_effect bed_idle2]
#leds:
# 
#autostart:                          false
#frame_rate:                         24
#layers:
#     breathing  5 0 add (0,.1,1), (0,1,.2), (0, 1,1), (0,.1,.2)
#     #gradient   1 1 add  (1, 0.0, 0.0),(0, 1, 0.0),(1, 0.0, 0.0),(0.0, 0.0, 1)
#     pattern 1 1 add (0.2, 0.2, 0,2)